

/*FONTS*/

@font-face {
  font-weight: 700;
  font-family: "Navigo";
  src: url("../fonts/Navigo-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Navigo";
  src: url("../fonts/Navigo-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 300;
  font-family: "Navigo";
  src: url("../fonts/Navigo-Light.ttf") format("truetype");
}


/*ALL STYLES*/

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Navigo", Verdana, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #3D4252;
  text-transform: uppercase;
  background-color: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -9999px;
  top: -9999px;
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */

.header-top {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -27px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 20px solid transparent;
  border-top: 7px solid #ffffff;
}

.header-top-lang,
.header-top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-top-lang {
  margin-right: 48px;
}

.header-top-lang a {
  display: block;
  width: 36px;
  padding: 10px 0;
  color: #3D4252;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
}

.header-top-lang .active {
  background-color: #3D4252;
  color: #fff;
  border-radius: 100%;
}

.header-top-lang a:hover {
  background-color: #3D4252;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header-top-lang abbr {
  text-decoration: none;
}

.header-top-timework {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 51px;
  color: #3D4252;
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
}

.header-top-timework::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  left: 0;
  top: -6px;
  background-image: url(../img/icon_clock_dark.svg);
  background-repeat: no-repeat;
}

.header-top-timework a {
  display: block;
  width: 91px;
  color: #3D4252;
  border-bottom: 1px solid rgba(61, 66, 82, 0.35);
}

.header-top-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header-top-social {
  margin-left: auto;
}

.header-top-social li {
  margin-right: 6px;
}

.header-top-social li:last-child {
  margin-right: 0;
}

.social-btn {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #8088A3;
  border-radius: 100%;
}

.social-vk {
  background-image: url(../img/icon_social_vk.svg);
}

.social-fb {
  background-image: url(../img/icon_social_fb.svg);
}

.social-inst {
  background-image: url(../img/icon_social_instagram.svg);
}

.social-yt {
  background-image: url(../img/icon_social_youtube.svg);
}

.header-bottom {
  background-color: #3D4252;
}

.bottom-nav {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.bottom-nav-list a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.bottom-nav-list a:hover,
.footer-nav-list a:hover {
  color: #A8F0DE;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button-search {
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid #656C81;
  border-radius: 100%;
  background-color: transparent;
  background-image: url(../img/icon_search.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.button-search:hover {
  background-color: #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.bottom-nav-list .button-map {
  display: block;
  padding: 6px 18px 7px 18px;
  border: 2px solid #656C81;
  border-radius: 17px;
  font-size: 13px;
  line-height: 16px;
}

.bottom-nav-list .button-map:hover,
.bottom-nav-list .button-interface:hover,
.feedback-link:hover {
  background-color: #fff;
  color: #3D4252;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.bottom-nav-list li {
  margin-right: 26px;
}

.bottom-nav-list li:first-child {
  margin-right: 84px;
}

.bottom-nav-list li:nth-child(2) {
  margin-right: 108px;
}

.bottom-nav-list li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.bottom-nav-list .button-interface {
  position: relative;
  display: block;
  padding: 4px 13px 3px 17px;
  border: 2px solid #656C81;
  border-radius: 17px;
  font-size: 13px;
  line-height: 16px;
}

.interface-number {
  display: inline-block;
  vertical-align: baseline;
  width: 22px;
  height: 22px;
  margin-left: 8px;
  padding-top: 3px;
  font-size: 11px;
  font-weight: 700;
  background-color: #2694F7;
  border-radius: 100%;
  text-align: center;
}


/*BANNER*/

.banner {
  min-height: 368px;
  background-color: #3b3d4a;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-heading {
  margin: 0 auto;
  padding: 116px 0 0 0;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 42px;
  text-align: center;
}

.heading-font {
  font-size: 52px;
  font-weight: 300;
  line-height: 78px;
}


/*DESCRIPTION*/

.description-container {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding-top: 104px;
  padding-bottom: 44px;
}

.description-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 980px;
  height: 1px;
  background-color: #3D4252;
  opacity: 0.1;
}

.description-text {
  text-transform: none;
  margin: 0 0 16px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}


/* SERVICES*/

.services {
  width: 1440px;
}

.services-list {
  margin: 0 0 96px 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services-list .services-item {
  width: 280px;
  height: 256px;
  padding: 66px 10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: center;
}

.services-item::before {
  position: relative;
  content: '';
  display: block;
  width: 124px;
  height: 124px;
  margin-left: 68px;
  margin-bottom: 26px;
  padding: 42px 34px;
  border: 2px solid #A8F0DE;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.item-stars::before {
  background: url(../img/icon_stars.svg) no-repeat center center;
}

.item-elevator::before {
  background: url(../img/icon_elevator.svg) no-repeat center center;
}

.item-showcase::before {
  background: url(../img/icon_showcase.svg) no-repeat center center;
}

.item-radio::before {
  background: url(../img/icon_radio.svg) no-repeat center center;
}

.item-banner::before {
  background: url(../img/icon_banner.svg) no-repeat center center;
}

.item-stairs::before {
  background: url(../img/icon_stairs.svg) no-repeat center center;
}

.item-facade::before {
  background: url(../img/icon_facade.svg) no-repeat center center;
}

.item-branding::before {
  background: url(../img/icon_branding.svg) no-repeat center center;
}

.item-wall::before {
  background: url(../img/icon_wall.svg) no-repeat center center;
}

.item-food::before {
  background: url(../img/icon_food.svg) no-repeat center center;
}

.item-ad::before {
  background: url(../img/icon_ad.svg) no-repeat center center;
}

.item-escalator::before {
  background: url(../img/icon_escalator.svg) no-repeat center center;
}

.item-column::before {
  background: url(../img/icon_column.svg) no-repeat center center;
}

.item-stop::before {
  background: url(../img/icon_stop.svg) no-repeat center center;
}

.item-3d::before {
  background: url(../img/icon_3d.svg) no-repeat center center;
}

.button-send {
  display: block;
  width: 283px;
  padding: 12px 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  color: #3D4252;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center;
  border: 4px solid #A8F0DE;
  border-radius: 28px;
}

.button-send:hover {
  color: #ffffff;
  background-color: #3D4252;
  transition: 0.5s ease-in-out;
}


/* FOOTER*/

.main-footer {
  background-color: #3D4252;
}

.footer-container {
  position: relative;
  padding-top: 65px;
  padding-bottom: 32px;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-container::before {
  position: absolute;
  content: '';
  top: 32px;
  left: 0;
  width: 1400px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-contacts {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  padding-right: 44px;
  padding-top: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-contacts-logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 8px;
  padding: 0;
}

.footer-contacts-text {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-transform: none;
}

.footer-link-terms {
  display: block;
  margin-top: 16px;
  color: #A8F0DE;
  text-transform: none;
}

.footer-timework {
  position: relative;
  padding: 21px 45px 0 100px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-timework::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  left: 44px;
  top: 40px;
  background-image: url(../img/icon_clock_white.svg);
  background-repeat: no-repeat;
}

.footer-timework-text {
  margin: 0 0 8px 0;
}

.footer-news {
  position: relative;
  padding: 31px 45px 0 45px;
  color: #FFFFFF;
  font-family: Navigo;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.news-form-field {
  position: relative;
}

.news-form b {
  padding-left: 18px;
}

.news-form input {
  width: 200px;
  height: 36px;
  font: inherit;
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 45px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #656C81;
  border-radius: 19px;
  opacity: 0.5;
  text-transform: uppercase;
}

.footer-btn-send {
  position: absolute;
  top: 4px;
  right: 0;
  width: 36px;
  height: 36px;
  background-color: #A8F0DE;
  border-radius: 19px;
  border: 0;
  font-size: 0;
  background-image: url(../img/icon_arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0 45px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: left;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav-list a {
  color: #FFFFFF;
}

.footer-feedback {
  padding-left: 45px;
}

.footer-tel {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 27px;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.footer-tel::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  left: 0;
  top: 7px;
  background-image: url(../img/icon_phone.svg);
  background-repeat: no-repeat;
}

.feedback-link {
  display: block;
  padding: 9px 32px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 19px;
}

